.jumbotron{
	margin-top: 50px;
	
}



.rejilla{
	margin-top: 60px;
}

.card-title-text{
	color: lightgray;
}

.card-margin{
	margin-bottom: 6px;
}

.card-products{
	margin-top: 6px;
	margin-bottom: 8px;
}


.btn-ir {
	
	width: 100%;
	border-radius: 0px;
	border-color: lightgray;
	color: rgb(235, 235, 217);
	margin-top: 6px;
	
}


.breadcrumb{
	border-style: ridge;
}