$text: #ffffff;
$fondo:  (#010300,#54f907 ) ; 

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	@include margenes(40px, 0px);
	background-image: url(https://www.trainingzone.co.uk/sites/default/files/learning_technology_solutions_0.jpg);
	background-position: center center;
  	background-repeat: no-repeat;
	background-size: cover;
	 
}




.rejilla{
	@include margenes(60px, 0px);
	
}

.card-title-text{
	color: $text;
	
}

.card-margin{
	@include margenes(0px, 6px);
	
}

.card-products{
	@include margenes(6px,8px );
	
}

.card-header{
	background: linear-gradient($fondo);
}


.btn-ir {
	
	width: 100%;
	border-radius: 0px;
	border-color: $text;
	color: rgb(235, 235, 217);
	@include margenes(6px, 0px);
	
	
}


.breadcrumb{
	border-style: ridge;
	@include margenes(8px , 8px );
	
}


