.jumbotron {
  margin-top: 40px;
  margin-bottom: 0px;
  background-image: url(https://www.trainingzone.co.uk/sites/default/files/learning_technology_solutions_0.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rejilla {
  margin-top: 60px;
  margin-bottom: 0px;
}

.card-title-text {
  color: #ffffff;
}

.card-margin {
  margin-top: 0px;
  margin-bottom: 6px;
}

.card-products {
  margin-top: 6px;
  margin-bottom: 8px;
}

.card-header {
  background: linear-gradient(#010300, #54f907);
}

.btn-ir {
  width: 100%;
  border-radius: 0px;
  border-color: #ffffff;
  color: #ebebd9;
  margin-top: 6px;
  margin-bottom: 0px;
}

.breadcrumb {
  border-style: ridge;
  margin-top: 8px;
  margin-bottom: 8px;
}

/*# sourceMappingURL=styles.css.map */
