@text: #fdfdfd;
@fondo:(#010300,#07acf9 ) ;

.margenes (@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}


.jumbotron{
	.margenes(40px, 0px);
	background-image: url(https://www.trainingzone.co.uk/sites/default/files/learning_technology_solutions_0.jpg);
	background-position: center center;
  	background-repeat: no-repeat;
	background-size: cover;
	 
}



.rejilla{
	.margenes(60px, 0px);
	
}

.card-title-text{
	color: @text;
	
}

.card-margin{
	.margenes(0px, 6px);
	
}

.card-products{
	.margenes(6px,8px );
	
}

.card-header{
	background: linear-gradient(@fondo);
}


.btn-ir {
	
	width: 100%;
	border-radius: 0px;
	border-color: @text;
	color: rgb(235, 235, 217);
	.margenes(6px, 0px);
	
	
}


.breadcrumb{
	border-style: ridge;
	.margenes(8px , 8px );
	
}
