.jumbotron {
  margin-top: 40px;
  margin-bottom: 0px;
  background-image: url(https://www.trainingzone.co.uk/sites/default/files/learning_technology_solutions_0.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rejilla {
  margin-top: 60px;
  margin-bottom: 0px;
}
.card-title-text {
  color: #fdfdfd;
}
.card-margin {
  margin-top: 0px;
  margin-bottom: 6px;
}
.card-products {
  margin-top: 6px;
  margin-bottom: 8px;
}
.card-header {
  background: linear-gradient((#010300,#07acf9 ));
}
.btn-ir {
  width: 100%;
  border-radius: 0px;
  border-color: #fdfdfd;
  color: #ebebd9;
  margin-top: 6px;
  margin-bottom: 0px;
}
.breadcrumb {
  border-style: ridge;
  @include margenes(8px, 8px);
}
